extends layout
block content
  h1 Search for whatever video you want to listen to
  form(method="GET", action="/watch")      
    .row-fluid
      .span12
        input(name="q", type="text")
    .row-fluid
      .span12
        button.btn.btn-default(type="Submit") Search
          