extends layout
block content
  .row-fluid
    .span12
      h1(style="text-align: center") Listen
  .row-fluid
    .span12
      audio(preload="none", autoplay, controls)
        source(src="/videos/" + videoID)
        span Your browser does not support this format
  .row-fluid
    .span12
      a(href="/watch") Search
  .row-fluid
    .span12
      a(href="/videos/" + videoID) Download