extends layout
block content
  .row-fluid
    .span12
      h1(style="text-align: center") Enjoy the sound
  .row-fluid
    .span12
      audio(preload="none", autoplay, controls, src="/videos/" + videoID)
        span Your browser does not support this format